<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/icons/iconfont/material-icons.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <script src="/tinymce/tinymce.min.js"></script>
    <script src="/js/tinymce.config.js"></script>
    <title><%= title %></title>
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <a href="/" class="navbar-brand">Text Editor</a>

        <% if (typeof user !== 'undefined') { %>
        <div class="d-flex align-items-center">
          <i class="material-icons">person</i>
          <span><%= user.firstname %></span>
          <form action="/users/logout" method="post">
            <button class="btn btn-flat d-flex">
              <i class="material-icons">logout</i>
              <span class="ms-1">Выйти</span>
            </button>
          </form>
        </div>
        <% } %>
      </div>
    </nav>

    <% if (hasMessages) { %> <% messages.forEach(message => { %>
    <div class="container alert alert-danger"><%= message %></div>
    <% }) %> <% } %>

    <br />
    <%- body %>

    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
